################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WebAPI/bin
/WebAPI/obj
*.user
/WebAPI/.vs
